<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-success">
    <h1 class="page-header text-center bg-primary" style="margin: 0%; padding: 3%;">LOGIN PAGE &rarr;</h1>
    <form action="/dashboard" id="dashboard" method="post" class="table-bordered text-center" style="margin-left: 30%; margin-right: 30%; margin-top: 20rem; background-color: greenyellow;">
        <p class="input-lg">Enter your name: <input type="text" name="username" id="username" class="" placeholder="Enter your username"></p>
        <p class="input-lg">Enter admin password: <input type="text" name="password" id="password" class="" placeholder="Enter admin password"></p>
        <p><button class="login btn btn-primary" style="transition: 200ms;">Log In</button></p>
    </form>
</body>
</html>